// paper & background
$paper: #ffffff;

// primary
$primaryLight: #2cffff26;
$primaryMain: #28e5e5;
$primaryDark: #19b4b4;
$primary200: #2cffff80;
$primary800: #19b4b4cc;

// secondary
$secondary100: #2C8A8A26;
$secondaryLight: #2cffff26;
$secondaryMain: #28e5e5;
$secondaryDark: #19b4b4;
//$secondary200: #2cffff80;
$secondary800: #19b4b4cc;

// success Colors
$successLight: #23d92b26;
$success200: #23d92b80;
$successMain: #23d92b;
$successDark: #23d92b80;

// error
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ffab91;
$orangeDark: #d84315;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #eeeeee;
$grey100: #dddddd;
$grey200: #c8c8c8;
$grey300: #969696;
$grey500: #646464;
$grey600: #525f66;
$grey700: #39454b;
$grey900: #16161f;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #16161f; // level 3
$darkPaper: #1e1e26; // level 4
//$darkPaper: #16161f; // level 4

// dark 800 & 900
$darkLevel1: #39454b3d; // level 1
$darkLevel2: #16161f; // level 2

// primary dark
$darkPrimaryLight: #2cffff26;
$darkPrimaryMain: #28e5e5;
$darkPrimaryDark: #19b4b4;
$darkPrimary200: #2cffff80;
$darkPrimary800: #19b4b4cc;

// secondary dark
$darkSecondaryLight: #2cffff26;
$darkSecondaryMain: #28e5e5;
$darkSecondaryDark: #19b4b4;
$darkSecondary200: #2cffff80;
$darkSecondary800: #19b4b4cc;

// text variants
$darkTextTitle: #eeeeee;
$darkTextPrimary: #dddddd;
$darkTextSecondary: #969696;

// ==============================|| JAVASCRIPT ||============================== //

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary100: $secondary100;
    //secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;

    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;

    // ==============================|| DARK THEME VARIANTS ||============================== //

    // paper & background
    darkPaper: $darkPaper;
    darkBackground: $darkBackground;

    // dark 800 & 900
    darkLevel1: $darkLevel1;
    darkLevel2: $darkLevel2;

    // text variants
    darkTextTitle: $darkTextTitle;
    darkTextPrimary: $darkTextPrimary;
    darkTextSecondary: $darkTextSecondary;

    // primary dark
    darkPrimaryLight: $darkPrimaryLight;
    darkPrimaryMain: $darkPrimaryMain;
    darkPrimaryDark: $darkPrimaryDark;
    darkPrimary200: $darkPrimary200;
    darkPrimary800: $darkPrimary800;

    // secondary dark
    darkSecondaryLight: $darkSecondaryLight;
    darkSecondaryMain: $darkSecondaryMain;
    darkSecondaryDark: $darkSecondaryDark;
    darkSecondary200: $darkSecondary200;
    darkSecondary800: $darkSecondary800;
    
    // CP0X specific colors
    colorCp0x: $primaryMain;
    colorCp0xDark: $primaryDark;
    colorCp0xHover: #2cffff;
    colorFontDark: $grey900;
    colorFontWhite: $grey50;
    colorFontWhite2: $grey100;
    
    // CP0X backgrounds
    backgroundDark: $darkBackground;
    backgroundColor: $darkPaper;
    backgroundColorHover: $darkLevel1;
    borderColor: $darkLevel2;
    borderColorHover: $grey600;
    borderColorLight: $darkLevel1;
    
    backgroundMainTop: $darkPaper;
    backgroundDealCode: $darkPaper;
    
    backgroundSnackbar: $darkLevel2;
    borderSnackbarClose: $grey600;
    backgroundInput: $darkLevel2;
    
    tableFontHeaderColor: $grey600;
    
    colorCompeledBorder: $successMain;
    colorCompeledBackground: #23d92b0d;
    }

/*
$color-cp0x: rgba(40, 229, 229, 1);
$color-cp0x-dark: rgba(25, 180, 180, 1);
$color-cp0x-hover: rgba(44, 255, 254, 1);
$color-font-dark: rgba(22, 22, 31, 1);
$color-font-white: rgba(238, 238, 238, 1);
$color-font-white2: rgba(221, 221, 221, 1);

$background-dark: rgba(22, 22, 31, 1);
$background-color: rgba(30, 30, 38, 1);
$background-color-hover: rgba(57, 69, 75, 0.24);
$border-color: rgba(57, 69, 75, 1);
$border-color-hover: rgba(82, 95, 102, 1);
$border-color-light: rgba(57, 69, 75, 0.24);

$background-main-top: rgba(30, 30, 38, 1);
$background-deal-code: rgba(30, 30, 38, 1);

$background-snackbar: rgba(57, 69, 75, 1);
$border-snackbar-close: rgba(82, 95, 102, 1);
$background-input: rgba(57, 69, 75, 1);

$table-font-header-color: rgba(82, 95, 102, 1);

$color-compeled-border: rgba(35, 217, 43, 1);
$color-compeled-background: rgba(35, 217, 43, 0.05);






*/